#container {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.pdf-context, .pdf-viewer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.pdf-viewer {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #3E3E3E
}

.pdf-page {
  position: relative;
  margin: 2em 7em;
  padding: 0;
  width: 816px;
  height: 1056px;
  overflow: visible;
  background-clip: content-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.54);
  background-color: white;
}

.pdfViewer {
  background-color: rgba(0, 0, 0, 0.55)
}
