.mobile-header{
  padding: 5px 15px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 25px;
  text-align: center;
}

.navbar-toggle .icon-bar {
background: black;
}

.navbar-toggle {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.showMobileNav {
  display:block !important;
}


@media (max-width:769px) {
  .showMobileNav{
    text-align: center;
  }

}
